<div id="section_root">
  <span>{{ block.settings.text }}</span>
</div>


{% if block.settings.gen_copy == true %}

  <script>

    /*  (async () => {
      console.log('sending to chatgpt');
      let message = 'Generate a product description for a product called misty glitter';
      console.log(message);

      try {
        const OPENAI_API_KEY='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' //temporary
        const url = 'https://api.openai.com/v1/completions';

        const data = `{
          "model": "text-davinci-003",
          "prompt": "how is your day?",
          "temperature": 0.7,
          "max_tokens": 256,
          "top_p": 1,
          "frequency_penalty": 0,
          "presence_penalty": 0
        }`;

        const response = await fetch(url, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'Authorization': 'Bearer ' + OPENAI_API_KEY,
            },
            body: data,
        });

        const text = await response.json();

        console.log(text.choices[0].text);
     //   '{{block.settings.text}}' = text.choices[0].text
        console.log('{{block.settings.text}}')
        //block.setttings.text = text.choices[0].text 

        const sectionRoot = document.querySelector('#section_root');
        const generatedCopyArea = document.createElement('div');
        const heading = document.createElement('p');
        heading.style.cssText = 'font-weight:600';
        heading.innerHTML = 'New Generated Copy:'
        const generatedCopy = document.createTextNode(text.choices[0].text);
        generatedCopyArea.appendChild(heading);
        generatedCopyArea.appendChild(generatedCopy);
        sectionRoot.append(generatedCopyArea)


      } catch (e) {
        console.log(e);
      }
    })();*/

    (async () => {
      try {
        console.log('SENDING REQUEST')
        let response;
        try {
          response = await fetch('https://our-test-store-569.myshopify.com/apps/json', {
            method: 'GET',
           /* headers: {
              'ngrok-skip-browser-warning': 'test'
            }*/
          });
          console.log(await response.json());
          //console.log(await response.json())
        } catch(e) {
          console.log('ERROR: ' + e)
        }
        
      } catch (e) {
        console.log(e)
      }
    })();
  </script>
{% endif %}

{% render "app_snippet" %}
{% schema %}
  {
    "name": "Hello World",
    "target": "section",
    "enabled_on": {
      "templates": ["index"]
    },
    "stylesheet": "app.css",
    "javascript": "app.js",
    "settings": [
      {
        "label": "Text",
        "id": "text",
        "type": "textarea",
        "default": "my text area"
      }, {
        "label": "Generate Copy",
        "type": "checkbox",
        "id": "gen_copy",
        "default": false
      }, {
        "label": "Commit New Text",
        "type": "checkbox",
        "id": "commit_copy",
        "default": false
      }
    ]
  }
{% endschema %}